<!DOCTYPE html>
<html>

<head>
  <title>Moukkaa reseptiä</title>
</head>

<body>
  <h1>Muokkaukset</h1>
  <form action="/update_recipe" method="post">
    <p>
      Reseptin Nimi: <br />
      <input type="text" name="recipe_name" value="{{recipe.title}}" />
    </p>
    <p>
      Ainesosa erota ainesosat pilkulla ja anna määrä kokonaislukuina esim "maito 1, muna 3": <br />
      <textarea name="ingridients">{{recipe.ingridients}}</textarea>
    </p>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
    <input type="submit" value="Muokkaa" />
  </form>
</body>

</html>
