<!DOCTYPE html>
<html>

<head>
  <title>Ostoslista</title>
</head>

<body>
  <h1>Ostoslista</h1>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/new_recipe">Lisää uusi resepti</a>
  </p>
  <p>
    <a href="/my_recipies">omat reseptit</a>
  </p>
   </p>
  <p>
    <a href="/other_recipies">Muiden reseptit</a>
  </p>
  
   <a href="/logout">Kirjaudu ulos</a>
  <h2>Ostoslistassasi olevian ainesosien määrät: </h2>
  <ul>
    {% for ab in summed %}
    <li>{{ ab[0] }} {{ ab[1] }}</li>
    {% endfor %}
  </ul>
  {% else %}
  
  <p>
  <a href="/login">Kirjaude sisään</a>
  <a href="/register">Luo käyttäjätunnus</a>
  </p> 
  {% endif %}
  
</body>

</html>
