<!DOCTYPE html>
<html>

<head>
  <title>{{ recipe.title }}</title>
</head>

<body>
  <h1>{{ recipe.title }}</h1>
  <a>{{ count }} Käyttäjää käyttää reseptiä</a>
  {% if session.user_id == recipe.owner_id %}
  <p>
    <a href="/edit_recipe/{{ recipe.id }}">Muokkaa reseptiä</a>
    <a href="/remove_recipe/{{ recipe.id }}">Poista resepti</a>
  </p>
  {% else %} 
    {% if has == true %}
    <p>
      <a href="/follow_recipe">Lisää omaan Ostoslistaan</a>
      <form action="/follow_recipe" method="post">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lisää omaan Ostoslistaan" />
      </form>
    </p>
    {% else %}
    <p>
      
      <form action="/unfollow_recipe" method="post">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Poista omasta ostoslistasta" />
      </form>
    </p>
    {% endif %}
  {% endif %}
 <a>Ainesosat: {{ recipe.ingridients }}</a>
 <p>
   <a href="/my_recipies">Takaisin</a>
 </p>
</body>

</html>
